:root {
    --background1 : #fbaf5d;
    --background2 : #f49ac1;
    --transparentWhite: rgba(255, 255, 255, 0.50);
    --redMultiply: rgba(248, 0, 0, 0.295);
    --restColor1: rgba(0, 123, 224, 0.295);
    --restColor2: rgba(123, 0, 224, 0.295);
    --focusColor1: rgba(11, 255, 105, 0.295);
    --focusColor2: rgba(157, 255, 0, 0.295);
}

html, body{
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Comfortaa', Calibri, sans-serif;
    color: white;
}

body{
    display: grid;
    box-sizing: border-box;
    padding: 10px;
    grid-template-columns: 0 100% 0;
    grid-template-rows: 10px 1fr 0;
    text-align: center;
    background: linear-gradient(to right, var(--background1), var(--background2));
    background-repeat: repeat;
}

.container{
    grid-area: 2/2;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2.5fr .7fr 2fr; 
    /* background-color: rgba(255, 255, 255, 0.50); */
    justify-content: center;
    align-items: center;
}

.title{
    font-size: 2.3rem;
    letter-spacing: 3px;
}

.title p{
    font-size: 1rem;
    letter-spacing: 1px;
}

.timer{
    display: flex;
    height: 75%;
    width: 75%;
    border: 3px solid var(--transparentWhite);
    justify-self: center;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.textWrapper{
    /* display: none; */
    z-index: 2;
    position: absolute;
}

#timerMain{
    font-size: 3rem;
    letter-spacing: 2.2px;
}

#timerCount{
    font-size: 1.5rem;
    letter-spacing: 1.5px;
    font-family: "Nova Mono";
}

#progressBar{
    /* background-color: var(--restColor); */
    height: 100%;
    width: 0%;
    z-index: 1;
    margin-right: auto;
}

.progressRest{
    background: linear-gradient(to bottom right, var(--restColor1), var(--restColor2));
}

.progressFocus{
    background: linear-gradient(to bottom right, var(--focusColor1), var(--focusColor2));
}

.buttonWrapper{
    display: flex;
    justify-content: space-evenly;
    color: var(--transparentWhite);
}

.button{
    padding: 8px;
    transition-duration: .3s;
    border: 3px solid transparent;
}

.button:hover{
    cursor: pointer;
    color: var(--redMultiply);
    border: 3px solid var(--redMultiply);
    mix-blend-mode: multiply;
}

.customizeWrapper{
    align-self: normal;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 40px auto;
    grid-template-areas: 
        "customize customize"
        "session   rest     ";
    font-size: 1.2rem;
    letter-spacing: 1.2px;
    user-select: none;
}

#customize{
    align-self: center;
    justify-self: center;
    grid-area: customize;
    padding: 10px;
    border: 3px solid transparent;
    transition-duration: .2s;
}

#customize:hover{
    cursor: pointer;
    color: var(--redMultiply);
    mix-blend-mode: multiply;
    border: 3px solid var(--redMultiply);
}

.customTitle{
    font-size: 1rem;
    line-height: 2;
}

.setTime{
    padding: 10px;
    border: 3px solid transparent;
    transition-duration: .2s;
    font-weight: bolder;
}

.setTime:hover{
    cursor: pointer;
    color: var(--redMultiply);
    mix-blend-mode: multiply;
    border: 3px solid var(--redMultiply);
}

#session{
    grid-area: session;
}

#rest{
    grid-area: rest;
}



#subtitleLarge{display: none;}
#subtitleSmall{
    display: block;
    font-size: .9rem;
    line-height: 1.2rem;
}


@media (min-width: 560px){
    body{
        grid-template-rows: 20px 1fr 20px;
        background: linear-gradient(to bottom right, var(--background1), var(--background2));
        background-attachment:fixed;
    }
    .customizeWrapper{
        width: 80%;
        justify-self: center;
        align-self: center;
        flex-direction: row;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 
            "session customize rest";
        font-size: 1.2rem;
    }
    
    .container{grid-template-rows: 2fr 3fr 1fr 2fr;}

    .title{font-size: 2.5rem;}

    #subtitleLarge{display: block;}
    #subtitleSmall{display: none;}
}


@media (min-width: 710px){
    body{
        grid-template-columns: 1fr 700px 1fr;
    }
}

